* {
  padding: 0;
  margin: 0;
}
:root {
  --neon: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #1317fe, 0 0 0.8rem blue,
    0 0 2.8rem #1365fe, inset 0 0 1.3rem #135dfe;
  --neon2: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 0.8rem blue,
    inset 0 0 1.3rem #135dfe;
}
/* upper banner */
.banners-container {
  display: flex;
  flex-direction: column;
}

.banner {
  border-bottom: 5px solid white;
  box-shadow: 0px 0px 30px blue;
}

#banner {
  width: 100%;
  height: auto;
}

/* Buttons */
.btns-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btns-section p {
  font-family: "DINPRO-BOLD", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: #58595b;
}

.buttons img {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.buttons figcaption {
  font-family: "DINPRO-BOLD", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #58595b;
  margin-top: 10px;
}

.buttons figure {
  text-align: center;
  margin: 15px 20px;
}

/* Replacement */
.validation {
  background: linear-gradient(#040620, #021186);
  border-top: 8px solid white;
  box-shadow: 10px 10px 40px blue;
  min-height: 500px;
  padding-bottom: 3%;
}

.replacement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
}

.p1,
#p2 {
  margin-top: 10%;
  color: white;
  font-family: "DINPRO-REGULAR", sans-serif;
  font-size: 150%;
  text-align: center;
}

span {
  font-family: "DINPRO-BOLD", sans-serif;
  font-weight: bolder;
}

.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#040620, #021186);
  width: 50%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  position: relative;
  height: 133px;
  padding-left: 10%;
  margin-top: 10%;
  box-shadow: 0px 40px 40px -40px blue, 0px -40px 40px -40px blue;
}

.p2 img {
  width: 300px;
  height: 600px;
  z-index: 5;
  position: absolute;
  top: -140%;
  left: -10%;
}

#p2 {
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 10px 10px -10px blue, 0px -10px 10px -10px blue;
}

.terms {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
  margin-top: 3%;
}

#terms {
  font-family: DINPRO-REGULAR, sans-serif;
  color: white;
}

.scan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 55%;
  background: linear-gradient(#040620, #021186);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  box-shadow: 0px 40px 40px -40px blue, 0px -40px 40px -40px blue;
  margin-top: 15%;
  min-height: 100px;
}

.scan .img {
  background-image: url(images/PS5\ WITH\ LOOP-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 500px;
  z-index: 5;
  position: absolute;
  left: 50%;
  margin-top: 5%;
}

.scan.txt {
  width: 30%;
}

.scan-txt p {
  text-align: center;
  font-family: DINPRO-REGULAR, sans-serif;
  color: white;
  width: 100%;
  font-size: 150%;
  padding-left: 150%;
}

.scan-txt span {
  font-family: DINPRO-BOLD, sans-serif;
}

.warranty {
  margin-top: 15%;
}

.warranty-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warranty-form p {
  font-family: DINPRO-BOLD, sans-serif;
  color: white;
  font-size: 200%;
}

.f1-content {
  margin-top: 3%;
  background: #dcdddd;
  border: 5px white solid;
  box-shadow: var(--neon);
  width: 60%;
}

.shadow {
  display: flex;
  flex-direction: row-reverse;
  gap: 10%;
  /* box-shadow: var(--neon); */
  padding: 5%;
  /* border-radius: 10px; */
}

.f1-txt {
  background: linear-gradient(#040620, #021186);
  width: 32%;
  border-radius: 10px;
}

.f1-content p {
  font-size: 80%;
  padding: 3%;
  font-family: DINPRO-REGULAR, sans-serif;
}

.f1-content form {
  display: flex;
  flex-direction: column;
  gap: 20%;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.f1-content form label {
  font-family: DINPRO-REGULAR, sans-serif;
}
.f1-content form select {
  font-family: DINPRO-REGULAR, sans-serif;
}
.f1-content form input {
  font-family: DINPRO-REGULAR, sans-serif;
}
#brand-menu,
#category-menu,
#serial {
  width: 320px;
  height: 25px;
  border: none;
  box-shadow: 1px 1px 1px 1px #eee;
  transition: all 0.3s ease-in-out;
}

#brand-menu:focus,
#category-menu:focus,
#serial:focus {
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px #021183 solid;
}

.brand,
.serial {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.serial div{
  display: flex;
  flex-direction: column;
}
.serial div a {
  font-family: DINPTO-REGULAR, sans-serif;
  color: #021183;
  font-size: 70%;
  font-weight: bold;
}
.serial a:hover {
  cursor: pointer;
}

.btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn button {
  font-family: DINPRO-REGULAR, sans-serif;
  font-size: 80%;
  width: 15%;
  height: 200%;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #021183;
  transition: all 0.3s ease-in-out;
}

.btn button:hover {
  background-color: white;
  color: #021183;
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px #021183;
  transition: all 0.3s ease-in-out;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 7;
}

.popup-content {
  background-color: 0%black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  z-index: 7;
  transition: all 0.3s ease-in-out;
}

.popup-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Purchase */
.purchase {
  background-image: url("./images/PSshop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
  border-bottom: 8px white solid;
  border-top: 8px white solid;
  box-shadow: var(--neon2);
}

.fig-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fig-section figure img {
  width: 25%;
  height: auto;
}

.fig-section figcaption {
  font-family: DINPRO-BOLD, sans-serif;
  color: white;
  font-size: 150%;
}

/* Terms & Conditions */
.tnc {
  padding: 3%;
  color: #414042;
}

.tnc-content {
  display: flex;
  flex-direction: row;
}

.tnc #title {
  font-family: DINPRO-BOLD, sans-serif;
  font-size: 150%;
}

.tnc p {
  font-family: DINPRO-REGULAR, sans-serif;
}

/* Footer */
.footer {
  background: linear-gradient(#040620, #021186);
  border-top: 8px solid white;
  box-shadow: 0px 0px 30px blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.location img,
.social-media img {
  width: 40px;
  height: auto;
}

.location p,
.social-media p {
  font-family: "DINPRO-BOLD", sans-serif;
  color: white;
  font-weight: bold;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.wp,
.insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  :root {
    overflow-x: hidden;
    width: fit-content;
    padding: 0;
    margin: 0;
  }

  body{
    overflow-x: hidden;
  }

  .banner {
    border-bottom: 1px solid white;
  }

  /* Buttons */
  .btns-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .btns-section p {
    font-size: 100%;
  }

  .buttons img {
    width: 45%;
    height: auto;
  }
  .buttons {
    gap: 0;
  }
  .buttons figcaption {
    font-size: 50%;
  }

  /* Replacment */
  .replacement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .validation {
    border-top: 5px solid white;
  }
  .p1,
  #p2 {
    font-size: 80%;
    text-align: center;
  }
  .p2 {
    width: 90%;
    height: 10%;
    padding-left: 10%;
    margin-top: 20%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }

  .p2 img {
    width: 50%;
    height: auto;
    scale: 1;
    top: -85%;
    left: -10%;
  }
  #p2 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  #terms {
    font-size: 70%;
  }
  .scan {
    gap: 0%;
    width: 50%;
    margin-top: 30%;
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
  }
  .scan .img {

    background-image: url(images/PS5\ WITH\ LOOP-01-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      scale: .45;
      z-index: 5;
      position: absolute;
      left: 19%;
      margin-top: 5%;
  }
  .scan-txt p {
    width: 100%;
    font-size: 100%;
    padding-left: 5%;
  }
  .warranty-form p {
    font-size: 100%;
  }
  .f1-content {
    margin-top: 5%;
    border: 2px white solid;
    width: 90%;
  }
  .shadow {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .f1-txt {
    width: 100%;
  }
  .f1-content form {
    gap: 15px;
    width: 100%;
  }
  .f1-content form label {
    font-size: 85%;
  }
  #brand-menu,
  #category-menu,
  #serial {
    width: 100%;
    height: 25px;
  }
  
  #serial {
    width: 100%;
    height: 25px;
  }
  /* .brand,
  .serial {
    width: 100%;
    display: flex;
    justify-content: space-between;
  } */
  .brand,
  .serial{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
  }
  .serial div{
    display: flex;
    gap: 2px;
    flex-direction: column;
    width: 100%;
    justify-content: right;
  }

  
  .serial div a {
    font-size: 60%;
    font-weight: bold;
  }
  .btn {
    width: 90%;
  }

  .btn button {
    font-size: 80%;
    width: 40%;
    height: 30px;
    border: none;
    border-radius: 5px;
  }
  .popup-container {
    width: 95%;
    height: 100%;
  }
  .popup-content img {
    width: 80%;
    height: 80%;
    margin-top: 50%;
  }
  /* Purchase */
  .purchase {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5%;
    border-bottom: 5px white solid;
    border-top: 5px white solid;
  }
  .fig-section figcaption {
    font-size: 80%;
  }
  .tnc-content {
    display: flex;
    flex-direction: column;
  }
  .tnc #title {
    font-size: 100%;
  }
  .tnc p {
    font-size: 80%;
  }
}
