* {
  padding: 0;
  margin: 0;
}

/* upper banner */
.banners-container {
  display: flex;
  flex-direction: column;
}

.banner {
  border-bottom: 5px solid white;
  box-shadow: 0px 0px 30px blue;
}

#banner {
  width: 100%;
  height: auto;
}

/* Buttons */
.btns-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btns-section p {
  font-family: "DINPRO-BOLD", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: #58595b;
}

.buttons img {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.buttons figcaption {
  font-family: "DINPRO-BOLD", sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #58595b;
  margin-top: 10px;
}

.buttons figure {
  text-align: center;
  margin: 15px 20px;
}

/* Replacement */
.validation {
  background: linear-gradient(#040620, #021186);
  border-top: 8px solid white;
  box-shadow: 0px 0px 30px blue;
  min-height: 500px;
}

.replacement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
}

.p1,
#p2 {
  margin-top: 10%;
  color: white;
  font-family: "DINPRO-REGULAR", sans-serif;
  font-size: 150%;
  text-align: center;
}

span {
  font-family: "DINPRO-BOLD", sans-serif;
  font-weight: bolder;
}

.p2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#040620, #021186);
  width: 50%;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  position: relative;
  height: 133px;
  padding-left: 10%;
  margin-top: 10%;
  box-shadow: 0px 40px 40px -40px blue, 0px -40px 40px -40px blue;
}

.p2 img {
  width: 300px;
  height: 600px;
  z-index: 5;
  position: absolute;
  top: -140%;
  left: -10%;
}

#p2 {
  text-align: center;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 10px 10px -10px blue, 0px -10px 10px -10px blue;
}

.terms {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
  margin-top: 3%;
}

#terms {
  font-family: DINPRO-REGULAR, sans-serif;
  color: white;
}

.scan {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 55%;
  background: linear-gradient(#040620, #021186);
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  box-shadow: 0px 40px 40px -40px blue, 0px -40px 40px -40px blue;
  margin-top: 15%;
  min-height: 100px;
}

.scan img {
  width: 500px;
  height: 500px;
  z-index: 5;
  position: absolute;
  left: 50%;
  margin-top: 5%;
}

.scan.txt {
  width: 30%;
}

.scan-txt p {
  text-align: center;
  font-family: DINPRO-REGULAR, sans-serif;
  color: white;
  width: 100%;
  font-size: 150%;
  padding-left: 150%;
}

.scan-txt span {
  font-family: DINPRO-BOLD, sans-serif;
}

.warranty {
  margin-top: 15%;
}

.warranty-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warranty-form p {
  font-family: DINPRO-BOLD, sans-serif;
  color: white;
  font-size: 200%;
}

.f1-content {
  margin-top: 3%;
  background: #f1f2f2;
  border: 5px white solid;
  box-shadow: 5px 5px 5px 1px blue;
  border-radius: 10px;
  width: 60%;
}

.shadow {
  display: flex;
  flex-direction: row-reverse;
  gap: 10%;
  box-shadow: 5px 5px 80px 1px blue;
  padding: 5%;
  border-radius: 10px;
}

.f1-txt {
  background: linear-gradient(#040620, #021186);
  width: 32%;
  border-radius: 10px;
}

.f1-content p {
  font-size: 80%;
  padding: 3%;
  font-family: DINPRO-REGULAR, sans-serif;
}

.f1-content form {
  display: flex;
  flex-direction: column;
  gap: 20%;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.f1-content form label {
  font-family: DINPRO-REGULAR, sans-serif;
}
.f1-content form select {
  font-family: DINPRO-REGULAR, sans-serif;
}
.f1-content form input {
  font-family: DINPRO-REGULAR, sans-serif;
}

#brand-menu,
#category-menu,
#serial {
  width: 300px;
  height: 25px;
}

/* Footer */
.footer {
  background: linear-gradient(#040620, #021186);
  border-top: 8px solid white;
  box-shadow: 0px 0px 30px blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.location img,
.social-media img {
  width: 40px;
  height: auto;
}

.location p,
.social-media p {
  font-family: "DINPRO-BOLD", sans-serif;
  color: white;
  font-weight: bold;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.wp,
.insta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
